<h2><%= t('.team_options') %></h2>

<%= form_for(@team, :url => registration_main_url) do |f| %>
  <% if @all_errors.any? %>
    <div id="error_explanation">
      <h2> <%= t('errors.template.header', :count=>@all_errors.count, :model=>t('activerecord.models.team')) %></h2>
      <p><%= t('errors.template.body', :count=>@all_errors.count) %></p>
      <ul>
      <% @all_errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <%= t('form.requiredfields') %><br /><br />
  </div>

  <% if @fields[:nation] %>
    <%= form_tag registration_team_options_url, :class => 'nation', :method => 'get' do %>
      <div class="field">
        <%= team_required_label :nation_id %>
        <%= f.select :nation_id, Country.all.map  {|c| [c.name,c.id]}, :include_blank=>t('form.pleaseselect'), :onchange => 'this.form.submit()' %>
        <%= submit_tag t('form.nojavascript_submit') %>
        <%= javascript_tag "$$('.nation input').each(Element.hide)" %>
      </div>
    <% end %>
  <% end %>
  <% if @fields[:competing_club] %>
    <div class="field">
      <%= team_required_label :club_id %>
      <% if params[:nation_id] %> 
        <%= f.select :competing_club, Club.where(:country_id => params[:nation_id]).map  {|c| [c.name,c.id]}, :include_blank=>t('form.pleaseselect') %>
      <% else %>
        <%= f.select :competing_club, [[t('form.selectnationfirst'), 0]] %>
      <% end %>
    </div>
  <% end %>
  <% if @fields[:name] %>
    <div class="field">
      <%= team_required_label :name %>
      <%= f.text_field :name %>
    </div>
  <% end %>

  <% @custom_fields.each do |cfname,cf| %>
    <div class="field">
    <% case cfname.to_s[0] %>
      <% when ?t %>
          <%= label :competitor, cfname, cf[:name]+(cf[:required?] ? ' *' : '') %>
          <%= f.text_field cfname %>
        <% when ?n %>
          <%= label :competitor, cfname, cf[:name]+(cf[:required?] ? ' *' : '') %>        
          <%= f.text_field cfname %>
        <% when ?f %>
          <%= label :competitor, cfname, cf[:name] %>
          <%= f.check_box cfname %>
    <% end  %>
    </div>
  <% end %>  

  <div class="field">
    <%= team_required_label :main_category %>
    <%= select_tag :main_category, options_for_select(@team_pool.categories.all.map  {|c| [c.name,c.id]}, @main_category), :include_blank=>t('form.pleaseselect') %>
  </div>  
  
  <div class="field">
    <div style="margin-left:180px">Startgeld: <b>CHF 10.00</b></div>
  </div>
  
  <div class="actions"><br /><br />
    <%= f.submit button_caption %>
  </div>
<% end %>  
  <div class="actions">
    <%= get_button_to t('form.cancel'), registration_main_url, {:team_pool_id => @team_pool.id} %>
  </div>

