<h1>Registered teams</h1>
<p id="notice">  <%= notice %>  </p>

<table>
  <tr>
    <th>Team</th>
    <th>Club</th>
    <th>Category</th>    
    <th>Start fee [<%= @event.currency.iso_code %>]</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.get_display_name %></td>
    <td><%= team.competing_club.name %></td>
    <td><%= team.category_list %></td>
    <td><%= team.start_fee %></td>
    <td><%= link_to t('.edit'), registration_team_members_path(:team_id => team.id) %></td>
    <td><%= link_to t('.delete'), registration_main_path(:team_id => team.id), :confirm => t('.confirm_delete'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', registration_team_members_path %>
