<h1><%= t('.registered_teams') %></h1>
<p id="notice">  <%= notice %>  </p>

<table>
  <tr>
    <th><%= t('.team') %></th>
    <th><%= t('.club') %></th>
    <th><%= t('.category') %></th>    
    <th><%= t('.start_fee', :currency => @event.currency.iso_code) %></th>
    <th><%= t('.paid') %></th>
    <th colspan="3"><%= t('table.action') %></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.get_display_name %></td>
    <td><%= team.competing_club.name %></td>
    <td><%= team.category_list %></td>
    <td><%= team.start_fee %></td>
    <td><%= (team.bill and team.bill.is_paid) ? icon('status_green') : icon('status_red') %></td>
    <td><%= link_to icon('edit'), registration_team_members_path(:team_id => team.id) %></td>
    <td><%= team.bill ? '' : link_to(icon('delete'), registration_main_path(:team_id => team.id), :confirm => t('.confirm_delete'), :method => :delete) %></td>
  </tr>
<% end %>
</table>

<br /><br />

<p><%= link_to icon('add_person')+' '+t('.new_team'), registration_team_members_path(:team_pool_id => @team_pool.id) %></p>
<p><%= link_to icon('pay')+' '+t('.pay_registrations'), unpaid_fees_bills_path %></p>
