  <div id="loginbox">
    <%= link_to login_path, :class => "signin", :id => "signin" do %>
      <span>  <%= t('.signin') %>  </span>
    <% end %>
    <%= field_set_tag nil, :id => "signin_menu", :style => "display:none" do %>
     <%= render :partial => 'sessions/form', :locals => {:formTagParam => {:id => 'signin'}, :redirect_path => request.path} %>
    <% end %>
    <%= javascript_tag do %>
     document.observe("dom:loaded", function() {
       
       $('signin').observe('click',
         function(e) {      
           //alert('signin click observed')  
		   e.preventDefault();
           $('signin_menu').toggle();
		   $('signin').toggleClassName('menu-open');
          }
       );
			
	   document.observe('mouseup',
	     function(e) {
		   if(!e.element().descendantOf('loginbox')) {
		     $('signin').removeClassName("menu-open");
		     $('signin_menu').hide();
		   }
	      }
	    );
	    
     });
     
    <% end %>
  </div>
