  <div id="loginbox">
    <%= link_to login_path, :class => "signin", :id => "signin" do %>
      <span>  <%= t('.signin') %>  </span>
    <% end %>
    <%= field_set_tag nil, :id => "signin_menu", :style => "display:none" do %>
      <%= form_tag login_path, :id => 'signin' do %>
        <div>
          <label for="identifier" >  <%= t('.username_or_email') %>  </label>
          <%= text_field_tag :identifier, params[:identifier] %>
        </div>
        <div>
          <label for="password" >  <%= t('.password') %>  </label>
          <%= password_field_tag :password, params[:password] %>
         </div>
         <div>
           <%= submit_tag t('.submit') %>
         </div>
      <% end %>
    <% end %>
    <%= javascript_tag do %>
     document.observe("dom:loaded", function() {
       
       $('signin').observe('click',
         function(e) {      
           //alert('signin click observed')  
		   e.preventDefault();
           $('signin_menu').toggle();
		   $('signin').toggleClassName('menu-open');
          }
       );
			
	   document.observe('mouseup',
	     function(e) {
		   if(!e.element().descendantOf('loginbox')) {
		     $('signin').removeClassName("menu-open");
		     $('signin_menu').hide();
		   }
	      }
	    );
	    
     });
     
    <% end %>
  </div>
