  <div class="login_form_full">
    <p id="notice" >  <%= notice %>  </p>
    <% addParam = {} %>
    <% if Rails.env != "development"%>
      <% addParam = {:only_path => false, :protocol => 'https://'}%>
    <%end%>
    <%= form_tag login_path addParam do %>
      <h1>  <%= t('.pleaselogin') %>  </h1>
      <div class="field">
        <label for="identifier" >  <%= t('.username_or_email') %>  </label>
        <%= text_field_tag :identifier, params[:identifier] %>
      </div>
      <div class="field">
        <label for="password" >  <%= t('.password') %>  </label>
        <%= password_field_tag :password, params[:password] %>
       </div>
       <div class="actions">
         <%= submit_tag  t('.submit')  %>
       </div>
     <% end %>
     <p><br /><%= t('.register_info', :reglink => link_to(t('.register'), new_user_path)).html_safe %></p>
  </div>
