<%= notice %>

<p>
  <b>Lower:</b>
  <%= @age_range.lower %>
</p>

<p>
  <b>Upper:</b>
  <%= @age_range.upper %>
</p>

<p>
  <b>Belongs to:</b>
  <%= @age_range.belongs_to %>
</p>


<%= link_to 'Edit', edit_age_range_path(@age_range) %> |
<%= link_to 'Back', age_ranges_path %>
