<h1>Listing split_times</h1>

<table>
  <tr>
    <th>Control number</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @split_times.each do |split_time| %>
  <tr>
    <td><%= split_time.control_number %></td>
    <td><%= split_time.time %></td>
    <td><%= link_to 'Show', split_time %></td>
    <td><%= link_to 'Edit', edit_split_time_path(split_time) %></td>
    <td><%= link_to 'Destroy', split_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Split time', new_split_time_path %>
