<p id="notice"><%= notice %></p>

<p>
  <b>Is leader:</b>
  <%= @team_member.is_leader %>
</p>

<p>
  <b>Sortkey:</b>
  <%= @team_member.sortkey %>
</p>


<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
