<%
addParam = {}
if Rails.env == "production"
     addParam.merge!({:only_path => false, :protocol => 'https://'})
end
%>
<%= form_for(@user, :html => addParam) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> <%= t('errors.template.header', :count=>@user.errors.size, :model=>t('activerecord.models.user')) %></h2>
      <p><%= t('errors.template.body', :count=>@user.errors.size) %></p>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= user_required_label :old_password, t('.old_password') %>
    <%= f.password_field :old_password %>
  </div>
  <br>
  <div class="field">
    <%= user_required_label :password, t('.password') %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= user_required_label :password_confirmation, t('.password_confirmation') %>
    <%= f.password_field :password_confirmation %>
  </div>
    
  <br>
  
  <div class="actions">
    <%= f.submit t('users.form.submit') %>
  </div>
  
<% end %>
