<p id="notice"><%= notice %></p>

<h1> Welcome <%= @user.username %></h1>

<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
