<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :finish_time %><br />
    <%= f.text_field :finish_time %>
  </div>
  <div class="field">
    <%= f.label :run_time %><br />
    <%= f.text_field :run_time %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :chip %><br />
    <%= f.text_field :chip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
