  <%= notice %>

  <p>
    <b>Start time:  </b>
    <%= @result.start_time %>
  </p>

  <p>
    <b>Finish time:  </b>
    <%= @result.finish_time %>
  </p>

  <p>
    <b>Run time:  </b>
    <%= @result.run_time %>
  </p>

  <p>
    <b>Rank:  </b>
    <%= @result.rank %>
  </p>

  <p>
    <b>Chip:  </b>
    <%= @result.chip %>
  </p>


  <%= link_to 'Edit', edit_result_path(@result) %> |
  <%= link_to 'Back', results_path %>
