  <% content_for :left do %>
    <ul>
    <li>  <%= link_to 'Übersicht', @event.slug_url %>  </li>    
      <li>  <a href="/event_data/2011/bescool/ausschreibung.pdf">Ausschreibung </a>  </li>
      <li>  <%= link_to 'Anmeldung', registration_overview_url(:event_id => @event.id) %>  </li>
    
      <!--  <li>  <a href="#">Directions  </a>  </li>
      <li>  <a href="#">Course Data  </a>  </li>
      <li>  <a href="#">Terrain  </a>  </li>
      <li>  <a href="#">Start lists  </a>  </li>
      <li>  <a href="#">Results  </a>  </li>-->
    </ul>
  <% end %>

  <% #content_for :main must be defined by the parent view of this partial %>

  <% content_for :right do %>
    <h4>Hauptsponsoren</h4>
    <p>  <%= link_to image_tag('/event_data/2011/bescool/sponsors/main_postfinance.gif', :alt => 'PostFinance'), 'http://www.postfinance.ch' %>  </p>
    <p>  <%= link_to image_tag('/event_data/2011/bescool/sponsors/main_migros.jpg', :alt => 'Migros'), 'http://www.migros.ch' %>  </p>
    
    <h4>Co-Sponsor</h4>
    <p>  <%= link_to image_tag('/event_data/2011/bescool/sponsors/co_icetea.jpg', :alt => 'Ice Tea Migros'), 'http://www.bina.ch' %>  </p>

    <h4>Partner</h4>
    <p>  <%= link_to image_tag('/event_data/2011/bescool/sponsors/partner_farmer.jpg', :alt => 'Farmer'), 'http://www.migros.ch/de/supermarkt/marken-labels/farmer.html' %>  </p>
    <p>  <%= link_to image_tag('/event_data/2011/bescool/sponsors/partner_switcher.jpg', :alt => 'Switcher'), 'http://www.switcher.ch' %>  </p>
    
    <h4>Lokale Sponsoren </h4>
    <p>  <%= image_tag('/event_data/2011/bescool/sponsors/local.png', :alt => 'Lokale Sponsoren') %>  </p>
  <% end %>

  <p>  <%= image_tag '/event_data/2011/bescool/banner.png', :alt => 'Online-Anmeldung' %>  </p>
  <%= render :partial => 'layouts/three_columns' %>
