<h1><%= t('.browse_events') %></h1>
  
  <table>
    <tr>
      <th><%= t('.date') %></th>
      <th><%= t('.event') %></th>      
      <th></th>
    </tr>
  
  <% @events.each do |event| %>
    <tr>
      <td><%= date_interval(event.start_date,event.end_date) %></td>
      <td><%= event.name %></td>
      <td><%= link_to t('.show'), event.slug_url %></td>
    </tr>
  <% end %>
  </table>
  
