<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :reference_number %>
    <%= f.text_field :reference_number %>
  </div>
  
  <div class="field">
    <%= f.label :is_paid %>
    <%= f.check_box :is_paid %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
