  <% content_for :main do %>
    <h1> <%=t('.newbill')%>   </h1> 
    <%if @total_amount > 0 %>     
      <p>
        <b><%=t('activerecord.models.event')%></b>
        <%= @event.name %>
      </p>
  
      <%= render 'event_fees' %>

      <p>
        <b><%=t('.totalamount')%></b>
        <%= format_amount(@total_amount) %>
        <%= @event.currency.iso_code %>
      </p>

      <%= form_for(@bill) do |f| %>
        <% for team in @teams do %>
           <%= f.hidden_field "team_ids", :name => "bill[team_ids][]", :value => team.id %>
        <% end %>
        <%= f.hidden_field "team_ids_hash", :name => "bill[team_ids_hash]", :value => @teams_hash %>
        <% if !@userAddressKnown %>
          <p> <%=t('.completeaddressreq', :editlink => link_to(t('.usereditlinklabel'),edit_user_path(@user))).html_safe%> </p>
        <% else %>
          <p><%=t('.acceptdescription')%></p> 
        <% end %>
          <br /><%= f.submit t('.acceptbill'), :disabled => !@userAddressKnown%><br /><br />
      <% end %>
    <% else %>
      <p> <%=t('.totalzero',:currency => @event.currency.iso_code)%></p>
    <% end %>

    <%= link_to '<< '+t('.backtomybills'), bills_path %>

  <% end %>

  <%= render :partial => 'bills/billsite' %>