<% content_for :main do %>
  <p id="notice"><%= notice %></p>
  <h1> Bill </h1>
      
  <p>
    <b>Event:</b>
    <%= @bill.event.name %>
  </p>
  
  <%  @event = @bill.event %>
  <%  @teams = @bill.teams %>
  <%= render 'event_fees' %>

  <p>
    <b>Total amount:</b>
    <%= format_amount(@bill.amount) %>
    <%= @bill.currency.iso_code %>
  </p>
  <p>
    <b>Status:</b>
    <%= @bill.is_paid ? "paid" : "unpaid" %>
  </p>
  <% if !@bill.is_paid %>
    <% if @bill.is_paper_bill%>
       <p>
        <b>This is a paper bill. The bill has <%@bill.is_paper_bill_sent ? "been sent" : "not been sent yet."%> </b>
      </p>
    <% else %>
      <h2>Payment Options</h2>
      <% # Allow the user to make payments only for non-paper bills %>
      <table>
        <%if PostFinanceController.enabledForEvent(@bill.event)%>
          <tr>
          <td>
          Pay online using Post Finance. <br />
          <br />
          <%= render :partial => 'post_finance/bill_fees_and_total' %>
          </td>
          <td>   <%= render :partial => 'post_finance/payment_button'%> </td>
        <% end %>
        </tr>
      </table>
    <% end %>
  <% end %>
  
  <br />
  <%= link_to 'Back', bills_path %>

<% end %>

<%= render :partial => 'bills/billsite' %>