<% content_for :main do %>
  <%= notice %>
  <h1> <%=t('activerecord.models.bill')%> </h1>
      
  <p>
    <b><%=t('activerecord.models.event')%>:</b>
    <%= @bill.event.name %>
  </p>
  
  <%  @event = @bill.event %>
  <%  @teams = @bill.teams %>
  <%= render 'event_fees' %>

  <p>
    <b><%=t('.totalamount')%>:</b>
    <%= format_amount(@bill.amount) %>
    <%= @bill.currency.iso_code %>
  </p>
  <p>
    <b><%=t('.status')%>:</b>
    <% if @bill.is_paid %>
      <%= t('.paidon', :date => @bill.paid_at.strftime(t('date.default'))) %>
    <% else %>
      <%= t('.unpaid')%>
    <% end %>
  </p>
  <% if !@bill.is_paid %>
    <% if @bill.is_paper_bill%>
       <p>
        <%=t('.paperbill')%>
        <%=t('.sendstatus', :status => (@bill.is_paper_bill_sent ? t('.sent') : t('.notsent'))).html_safe%>
      </p>
    <% else %>
      <br />
      <p><%=t('.paymentoptionsdesc')%></p>
      <table>
        <%if PostFinanceController.enabledForEvent(@bill.event)%>
          <tr>
          <td>
          <%=t('.paypostfinance')%><br />
          <br />
          <%= render :partial => 'post_finance/bill_fees_and_total' %>
          </td>
          <td>   <%= render :partial => 'post_finance/payment_button'%> </td>
        <% end %>
        </tr>
      </table>
    <% end %>
  <% end %>
  
  <br />
  <%= link_to '<< '+t('.backtomybills'), bills_path %>

<% end %>

<%= render :partial => 'bills/billsite' %>