<% content_for :main do %>
  <%= notice %>
  <h1><%=t('bills.billsite.unbilledregistrations')%></h1>
  <%=t('.unbilledfeesdescription') %>
  <%if @teams_by_event.size > 0 %>
  <% @teams_by_event.each_pair do |@event,@teams| %>
    <br>
    <br>
    <p>
      <h2><%= @event.name %></h2><br />
    </p>
    <%= render 'event_fees' %>
    <p>
      <b><%=t('bills.new.totalamount')%>:</b>
      <%= format_amount(@teams.inject(0) { |sum, t| sum + t.start_fee }) %>
      <%= @event.currency.iso_code %><br /><br />
    </p>
     <%= get_button_to t('.pay'), new_bill_path, {:event => @event.id} %>
  <% end %>
  <% else %>
    <br />
    <br />
    <br />
    <p> <%=t('.nounbilledfees')%> </p>
  <% end %>
  <br>
  <br>
  <%= link_to '<< '+t('.backtomybills'), bills_path %>
<% end %>

<%= render :partial => 'bills/billsite' %>