<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nation.name %>
</p>

<p>
  <b>Ioc code:</b>
  <%= @nation.ioc_code %>
</p>


<%= link_to 'Edit', edit_nation_path(@nation) %> |
<%= link_to 'Back', nations_path %>
