  <%= form_for(@team_pool) do |f| %>
    <% if @team_pool.errors.any? %>
      <div id="error_explanation">
        <h2>  <%= pluralize(@team_pool.errors.count, "error") %> prohibited this team_pool from being saved:  </h2>

        <ul>
        <% @team_pool.errors.full_messages.each do |msg| %>
          <li>  <%= msg %>  </li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>  <br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
