<%= form_for(@competitor) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% @competitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license_number %><br />
    <%= f.text_field :license_number %>
  </div>
  <div class="field">
    <%= f.label :region_code %><br />
    <%= f.text_field :region_code %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :birthdate_y %><br />
    <%= f.text_field :birthdate_y %>
  </div>
  <div class="field">
    <%= f.label :birthdate_m %><br />
    <%= f.text_field :birthdate_m %>
  </div>
  <div class="field">
    <%= f.label :birthdate_d %><br />
    <%= f.text_field :birthdate_d %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
