<%= form_for(@competitor, :url => url) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2> <%= t('errors.template.header', :count=>@competitor.errors.count, :model=>t('activerecord.models.competitor')) %></h2>
      <p><%= t('errors.template.body', :count=>@competitor.errors.size) %></p>      
      <ul><% @competitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %></ul>
    </div>
  <% end %> 
  
  <% if params[:competitor_index] %>
    <%= hidden_field_tag 'competitor_index', params[:competitor_index] %>
  <% end %>
  
  <div class="field">
    <%= t('form.requiredfields') %><br /><br />
  </div> 
  <% if @fields[:nation] %>
    <%= form_tag registration_team_members_url, :class => 'nation', :method => 'get' do %>
      <div class="field">
        <%= label_tag :nation_id, t('activerecord.attributes.competitor.nation_id') %>
        <%= f.select :nation_id, Country.all.map  {|c| [c.name,c.id]}, :include_blank=>t('form.pleaseselect'), :onchange => 'this.form.submit()' %>
        <%= submit_tag t('form.nojavascript_submit') %>
        <%= javascript_tag "$$('.nation input').each(Element.hide)" %> *
      </div>
    <% end %>
  <% end %>
  <% if @fields[:competing_club] %>
    <div class="field">
      <%= f.label :club_id %>
      <% if params[:nation_id] %> 
        <%= f.select :competing_club, Club.where(:country_id => params[:nation_id]).map  {|c| [c.name,c.id]}, :include_blank=>t('form.pleaseselect') %> *
      <% else %>
        <%= f.select :competing_club, [[t('form.selectnationfirst'), 0]] %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= required_label :first_name %>
    <%= f.text_field :first_name %>    
  </div>
  <div class="field">
    <%= required_label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <% if @fields[:birthdate_y] %>
    <div class="field">
      <%= required_label :birthdate_y %>
      <%= f.text_field :birthdate_y %>
    </div>
  <% end %>
  <% if !@search_form %>    
    <% if @fields[:sex] %>  
      <div class="field">
        <%= required_label :sex %>
        <%= f.radio_button :sex, "M" %>  <%= t('.male') %>
        <%= f.radio_button :sex, "F" %>  <%= t('.female') %>
      </div>
    <% end %>
    <% if @fields[:license_number] %>    
      <div class="field">
        <%= required_label :license_number, @fields[:license_number][:required?] %>
        <%= f.text_field :license_number %>
      </div>
    <% end %>
    <% if @fields[:email] %>    
      <div class="field">
        <%= required_label :email, @fields[:email][:required?] %>
        <%= f.text_field :email %>
      </div>
    <% end %>
    <% if @fields[:phone] %>        
      <div class="field">
        <%= required_label :phone, @fields[:phone][:required?] %>
        <%= f.text_field :phone %>
      </div>
    <% end %>
    <% if @fields[:address] %>        
      <div class="field">
        <%= required_label :address_line_1, @fields[:address][:required?] %>
        <%= f.text_field :address_line_1 %>
      </div>
      <div class="field">
        <%= f.label :address_line_2 %>
        <%= f.text_field :address_line_2 %>
      </div>
      <div class="field">
        <%= required_label :zipcode, @fields[:address][:required?] %>
        <%= f.text_field :zipcode %>
      </div>
    <% end %>
    <% if @fields[:city] %>
      <div class="field">
        <%= required_label :city, @fields[:city][:required?] %>
        <%= f.text_field :city %>
        </div>
    <% end %>
    <% if @fields[:address] %> 
      <div class="field">
        <%= f.label :province %>
        <%= f.text_field :province %>
      </div>
      <div class="field">
        <%= required_label :country_id, @fields[:address][:required?] %>
        <%= select (:user, :country_id, Country.find(:all).map  {|c| [c.name,c.id]}, :include_blank=>t('form.pleaseselect')) %>
      </div>
    <% end %>      
    <% @custom_fields.each do |cfname,cf| %>
      <div class="field">
      <% case cfname.to_s[0] %>
        <% when ?t %>
          <%= label :competitor, cfname, cf[:name]+(cf[:required?] ? ' *' : '') %>
          <%= f.text_field cfname %>
        <% when ?n %>
          <%= label :competitor, cfname, cf[:name]+(cf[:required?] ? ' *' : '') %>        
          <%= f.text_field cfname %>
        <% when ?f %>
          <%= label :competitor, cfname, cf[:name] %>
          <%= f.check_box cfname %>
      <% end  %>
      </div>
    <% end %>
    
  <% end %>
  <div class="actions">
    <%= f.submit button_caption %>
  </div>     
<% end %>

<div class="actions">
  <% if params[:competitor_index] %>
    <%= get_button_to t('form.cancel'), registration_team_members_url %>
  <% end %>
</div>         


