  <h1>
  <% if(@team.id.nil?) %>
    <%= t('.new_members') %>
  <% else %>
    <%= t('.members') %>
  <% end %>
  </h1>

  <% if @competitors.empty? %>
    <p><%= t('.no_members') %></p>
  <% else %>
    <table>
      <tr>
        <th>  <%= t('.leader') %>  </th>
        <th>  <%= t('.name') %>  </th>
  <% if @fields[:competing_club] %>
        <th>  <%= t('activerecord.models.club') %>  </th>
  <% end %>
        <th colspan="4"><%= t('table.action') %></th>
      </tr>
      <%= form_tag registration_team_members_url do %>
    <% @competitors.each_with_index do |competitor,idx| %>
        <tr>
        <td>  <%= radio_button_tag :leader, idx, @leader_index == idx, :onclick => 'this.form.submit()' %>  </td>
        <td>  <%= competitor.full_name %>  </td>
        <% if @fields[:competing_club] %>        
          <td>  <%= competitor.competing_club.name %>  </td>
        <% end %>
        <td>  <%= link_to icon('up'), registration_team_members_path(:competitor_index => idx, :move => 'up'), :method => :post %>  </td>
        <td>  <%= link_to icon('down'), registration_team_members_path(:competitor_index => idx, :move => 'down'), :method => :post %>  </td>
        <td>  <%= link_to icon('edit'), registration_team_members_path(:competitor_index => idx) %>  </td>
        <td>  <%= link_to icon('delete'), registration_team_members_path(:competitor_index => idx), :confirm => t('.confirm_delete'), :method => :delete %>  </td>
      </tr>
      <% end %>
    <% end %>
    
    </table>

  <br />  <%= button_to t('.team_complete'), registration_team_options_url %>
  
  <% end %>
