  <%= form_for(@event_setting) do |f| %>
    <% if @event_setting.errors.any? %>
      <div id="error_explanation">
        <h2>  <%= pluralize(@event_setting.errors.count, "error") %> prohibited this event_setting from being saved:  </h2>

        <ul>
        <% @event_setting.errors.full_messages.each do |msg| %>
          <li>  <%= msg %>  </li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>  <br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :value %>  <br />
      <%= f.text_field :value %>
    </div>
    <div class="field">
      <%= f.label :event_id %>  <br />
      <%= f.text_field :event_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
