  <h1>Listing club_members  </h1>

  <table>
    <tr>
      <th>Is default  </th>
      <th>Role  </th>
      <th>  </th>
      <th>  </th>
      <th>  </th>
    </tr>

  <% @club_members.each do |club_member| %>
    <tr>
      <td>  <%= club_member.is_default %>  </td>
      <td>  <%= club_member.role %>  </td>
      <td>  <%= link_to 'Show', club_member %>  </td>
      <td>  <%= link_to 'Edit', edit_club_member_path(club_member) %>  </td>
      <td>  <%= link_to 'Destroy', club_member, :confirm => 'Are you sure?', :method => :delete %>  </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Club member', new_club_member_path %>
