<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @run.name %>
</p>

<p>
  <b>Date:</b>
  <%= @run.date %>
</p>

<p>
  <b>Age limit 1:</b>
  <%= @run.age_limit_1 %>
</p>

<p>
  <b>Age limit 2:</b>
  <%= @run.age_limit_2 %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
