<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @category.slug %>
</p>

<p>
  <b>Min age:</b>
  <%= @category.min_age %>
</p>

<p>
  <b>Max age:</b>
  <%= @category.max_age %>
</p>

<p>
  <b>Sex:</b>
  <%= @category.sex %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
